body {
  font-family: 'Open sans', sans-serif;
  background-color: #2f3848;
}

.container {
  max-width: 900px;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 2em;
}

header h1 {
  background-color: #f05768;
  color: white;
  font-weight: 700;
  text-align: center;
}

.nav {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}

.nav__navbar {
  flex: 50%;
}
.nav__navbar a {
  color: greenyellow;
  margin-right: 2%;
  font-weight: bold;
}

.nav__reseaux {
  align-items: flex-end; 
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  
}

.photo__cameleon_big {
  background: url('images/cameleon-big.jpg') no-repeat;
  background-size: cover;
  height: 50vh;
  border: 1px solid black;

}

main h2 {
  color: #00ccff;
  font-style: italic;
  margin-bottom: 20px;
}

main p {
  color: white;
  font-weight: bold;
}

main p > a {
  color: greenyellow;
  text-decoration: underline;
}

.legend {
  color: white;
  text-transform: uppercase;
  background-color: #6d1d26;
  width: 30%;
  padding: 0.8%;
  font-weight: 900; 
}

.compendium {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  max-width: 70%;
  min-width: 70%;
  height: auto;
  align-items: flex-start;
  align-content: flex-start;
}

.gallery__image-primary {
  border: 5px solid #2f3848;
  max-width: 50%;
  min-width: 50%;
}

.gallery__group-primary {
  display: flex;
  flex-wrap: wrap;
  min-width: 50%;
  max-width: 50%;
  align-items: flex-start;
}
.image__group-primary {
  max-width: 50%;
  min-width: 50%;
  border: 5px solid #2f3848;
}

.gallery__image-secondary {
  max-width: 25%;
  border: 5px solid #2f3848;
}

.gallery__newsletter {
  max-width: 25%;
  background-color: #0044889b;
  align-self: flex-start;
  box-sizing: border-box;
  padding: 2%;
}

.gallery__newsletter > h3 {
  color: #00ccff;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 1.2;
  border-bottom: 3px solid yellowgreen;
  padding-bottom: 4%;
}

.gallery__newsletter p {
  line-height: 1.2;
}
.gallery__newsletter p, .gallery__newsletter a {
  color: yellowgreen;
}

footer {
  text-align: center;
  color: #00ccff;
}

@media only screen and (max-width: 600px) {

  .compendium {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }
  .gallery {
    max-width: 100vw;
  }
  .gallery__newsletter {
    max-width: 100vw;
  }
}